<h1>サインアップ</h1>

<%= form_with model: @user, url: signup_path, local: true do |f| %>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </p>
  <%= f.submit "登録" %>
<% end %>

<%= link_to "ログインはこちら", login_path %>
