<h1>ログイン</h1>

<%= form_with url: login_path, local: true do |f| %>
  <p>
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </p>
  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </p>
  <%= f.submit "ログイン" %>
<% end %>

<%= link_to "サインアップはこちら", signup_path %>
