<h1>投稿一覧</h1>

<% if notice %>
  <p style="color: green;"><%= notice %></p>
<% elsif alert %>
  <p style="color: red;"><%= alert %></p>
<% end %>

<%= link_to '新規投稿', new_article_path %>

<ul>
  <% @articles.each do |article| %>
    <h2><%= article.title %></h2>
    <p><%= article.content %></p>
    <%= link_to '表示', article %>
  <% end %>

</ul>
