<h1>投稿一覧</h1>

<%= search_form_for @q, url: posts_path do |f| %>
  <%= f.label :title_cont, "タイトル検索" %>
  <%= f.search_field :title_cont %>
  <%= f.submit "検索" %>
<% end %>

<% @posts.each do |post| %>
  <div>
    <h3><%= link_to post.title, post_path(post) %></h3>
    <p><%= post.content %></p>
    <p>投稿者：<%= post.user.name %></p>
  </div>
<% end %>

<%= link_to "新規投稿", new_post_path %>
<%= link_to "ユーザ一覧", mypages_path %>
